/* @import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
body {
  font-family: 'Old Standard TT', serif;
  min-width: 100%;
  background-color: #c8bab1a4;
}

.wrapper {
  width: 75%;
  margin: 30px auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
}

.aside {
  background-color: #976363be;
  width: 35%;
  display: block;
}

.aside__photo {
  margin: 15px auto;
  width: 80%;
}

.aside_img {
  border: 7px solid #d2cfca;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.aside__information {
  text-align: center;
  color: #d2cfca;
  font-size: 30px;
}

.information-contact {
  margin-bottom: 7%;
}

.text__phone {
  color: #d2cfca;
}
.contacts-text__email{
  margin-top: 15px;
}

.text__email {
  color: #d2cfca;
}

.information-education {
  margin-bottom: 30px;
}

.main {
  background-color: #5b677fb0;
  padding: 5%;
  width: 65%;
}

.main__header {
  margin-bottom: 5%;
}

.name {
  font-size: 60px;
  letter-spacing: 1px;
}

.prof {
  font-size: 30px;
}

.main__about {
  margin-bottom: 5%;
}

h2 {
  font-size: 55px;
}

.about_me {
  margin-top: 3%;
  font-size: 35px;
  line-height: 1.3em;
}

.aside__skills {
  background-color: #b3a394;
  padding: 3% 0;
}

.skills_title {
  font-size: 55px;
  text-align: center;
  margin-bottom: 3%;
}



.main__skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.my__skills {
  width: 100px;
  height: 100px;
  margin: 0 15px 15px 0;
}

.my__skills-img {
  width: 100%;
  height: 100%;
}

.aside__projects {
  background-color: #a29f8c99;
  padding: 3%;
}

.projects_title {
  text-align: center;
  margin-bottom: 3%;
  font-size: 55px;
  color: #fffdfa;
}

.slider {
  position: relative;
  padding: 0 10%;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 10px;
  height: 20px;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url('../img/sl-arrow_l.svg') 0 0 /100% no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url('../img/sl-arrow_r.svg') 0 0 /100% no-repeat;
}

.slider .slick-dots {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0 5px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 5px;
  height: 5px;
  background-color: wheat;
  border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid wheat;
}

.slider__item {
  transition: all 1s ease 0.5s;
  opacity: 0.6;
  text-align: center;
}
.slider__item.slick-center {
  opacity: 1;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

.item__shelter,
.item__mem,
.item__momentum,
.item__rslang,
.item__pma,
.item__sea-battle,
.item__virtual-keyboard {
  width: 80%;
  height: 80%;
}

.footer {
  background-color: #b3a394;
  padding: 1% 0;
}

.footer__wrapper {
  padding: 0 10%;
  display: flex;
  /*   flex-direction: row; */
  justify-content: space-between;
}

.img__github {
  width: 80px;
  height: 80px;
}

.footer__name,
.footer__telegram,
.footer__github {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__name {
  font-size: 25px;
}

.img__telegram {
  width: 48px;
  height: 48px;
}

@media (max-width: 1920px) {
  .about_me {
    font-size: 30px;
  }
}

@media (max-width: 1000px) {
  .wrapper {
    width: 90%;
    margin: 30px auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }

  .aside__information {
    font-size: 35px;
  }

  .about_me {
    font-size: 35px;
  }

  .name {
    font-size: 55px;
  }

  .skills_title,
  .projects_title,
  .prof,
  h2 {
    font-size: 40px;
  }

  .my__skills {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 620px) {
  .about_me {
    font-size: 20px;
  }

  .my__skills {
    width: 35px;
    height: 35px;
  }

  .skills_title,
  .projects_title,
  .prof,
  h2 {
    font-size: 30px;
  }

  .aside__information {
    font-size: 25px;
  }
}

@media (max-width: 440px) {
  .aside__information {
    font-size: 20px;
  }

  .about_me {
    font-size: 15px;
  }

  .skills_title,
  .projects_title,
  .prof,
  h2,
  .footer__name {
    font-size: 20px;
  }

  .img__github {
    width: 40px;
    height: 40px;
  }

  .img__telegram {
    width: 25px;
    height: 25px;
  }
}
